.main {
  display: grid;
  grid-template-rows: 100px repeat(auto-fit, minmax(200px, auto));
  grid-template-columns: minmax(300px, 1fr) 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  background-color: #3b5998;
}
.header {
  background-color: #3b5998;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 1 /-1;
  border-bottom: 1px solid white;
  margin-bottom: 3px;
}
.tabsection {
  grid-column: 1 / 2;
  background-color: #3b5998;
  display: flex;
  padding: 10px;
}
.nodecoration {
  text-decoration: none;
}
.button {
  text-decoration: none;
  background-color: #4267b2;
  border-color: #29487d;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  padding: 4px;
}
.calendarSection {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
}
.contentSection {
  background-color: #e9ebee;
  grid-column: 2 / -1;
}
@media only screen and (max-width: 768px) {
  .tabsection {
    grid-column: 1 / -1;
  }
  .contentSection {
    grid-column: 1 / -1;
  }
  .calendarSection {
    align-items: center;
  }
}
.filter {
  display: flex;
  justify-content: flex-start;
}
.downloadBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.tab {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 2px;
}
.childTab {
  padding: 10px;
  border: 1px solid #4267b2;
  text-align: center;
  margin-right: 5px;
}
.activeTab {
  color: blue;
  background-color: #69a74e;
}
.checkbox {
  margin-top: 5px;
}
